<footer class="page-footer teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">T2T</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni odio voluptate reprehenderit, tenetur saepe minus blanditiis corrupti, fugiat quos! Quam iste et sunt corporis temporibus laudantium quis suscipit, assumenda vel?</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/SIH2018"><%= image_tag "twitter.png" %></a></li>
          <li><a class="grey-text text-lighten-3" href="https://facebook.com/guidesih2018"><%= image_tag "facebook.png" %></a></li>
          <li><a class="grey-text text-lighten-3" href="https://plus.google.com"><%= image_tag "google.png" %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright T2T
    <%= link_to "About Us", pages_about_path, :class => "grey-text text-lighten-4 right" %>
    </div>
  </div>
</footer>
